<div class="container">
    <h1>Available Job Listings</h1>
    {% if disp %}
    <div class="row d-flex flex-wrap justify-content-between">
      {% for i in disp %}
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100">
          <img
            src="{% if i.companyLogo %}{{ i.companyLogo.url }}{% else %}/media/company_logo/default_logo.png{% endif %}"
            class="card-img-top" alt="Company Logo" />
          <div class="card-body">
            <h5 class="card-title">{{ i.jobTitle }}</h5>
            <small>{{i.host}}</small>
            <p class="card-text">
              {{i.jobResposibility}}
            </p>
            <button class="btn btn-outline-primary" onclick="openApplication(
              '{{ i.jobTitle }}', 
              '{{ i.jobResposibility }}', 
              '{{ i.location }}',
              '{{ i.jobCategory }}'
            )">Apply Now</button>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">{{i.last_updated}}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No job listings available.</p>
    {% endif %}
  </div>